<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Метод Корнелла</title>
        <meta charset="utf8">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        {# <link rel="stylesheet" href="../css/style.css"> #}
        <link rel="stylesheet" href="{{ base_url() }}/public/css/style.css">
    </head>
    <body>
        {% include '/partials/navigation.html' %}
        <div class="container">            
            {% block content %}
            {% endblock %}
            <div id="footer">
                <div class="container">
                    <p class="text-muted credit">It's application footer, look at me please </p>
                </div>
            </div>
        </div>
    
        <script src="https://cdnjs.cloudflare.com/ajax/libs/react/16.8.4/umd/react.production.min.js"> </script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/react-dom/16.8.4/umd/react-dom.production.min.js"></script>
    </body>


</html>