<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Метод Корнелла</title>
        <meta charset="utf8">
        {# <link href="{{ baseUrl() }}/css/bootstrap.min.css" rel="stylesheet">  #}
        {# <link href="{{ baseUrl() }}/css/custom.css" rel="stylesheet">  #}
        {# <script src="{{ baseUrl() }}/js/jquery.js"></script>  #}
    </head>
    <body>
        {% block content %}
        {% endblock %}
    </body>

    <div id="footer">
        <div class="container">
            <p class="text-muted credit">It's application footer, look at me please </p>
    </div>

</html>